.columnsearch {
    gap: var(--space-11x1);
    display: flex;
    width: 90%;
    flex-direction: column;
}
@media only screen and (max-width: 1440px) {
    .columnsearch {
        width: 100%;
    }
}
    
@media only screen and (max-width: 1050px) {
    .columnsearch {
        width: 100%;
    }
}
    
.rowarrowdown {
    flex: 1;
    display: flex;
    align-items: flex-start;
}
@media only screen and (max-width: 1050px) {
    .rowarrowdown {
        align-self: stretch;
    }
}
    
@media only screen and (max-width: 550px) {
    .rowarrowdown {
        flex-direction: column;
    }
}
    
.chipviewclose {
    padding-left: var(--space-x1);
    padding-right: var(--space-x1);
    align-self: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--space-2x1);
    column-gap: 12px;
}
@media only screen and (max-width: 550px) {
    .chipviewclose {
        align-self: stretch;
    }
}
    
.rowapply_filter {
    margin-top: 10px;
    gap: var(--space-7x1);
    display: flex;
    align-items: center;
}